In [1]:
import pandas as pd
import zentables as zen
import numpy as np

from zentables import _do_suppression

In [2]:
# Test case 1: Does this deal with negative numbers?
A = [[1, 4, 5], 
    [-5, 8, 9]]
_do_suppression(pd.DataFrame(A), low = 1, high = 5)

      0     1      2
0  True  True  False
1  True  True  False

In [3]:
# Test case 2: What happens when the boundary condition is met?
_do_suppression(pd.DataFrame(A), low = 1, high = 6)

      0     1     2
0  True  True  True
1  True  True  True

In [4]:
# Test case 3:
B = [[1, 4, 5, 12], 
    [-5, 8, 9, 0],
    [-6, 7, 11, 19]]

_do_suppression(pd.DataFrame(B), low=1, high=10)

       0     1      2      3
0   True  True   True  False
1  False  True   True  False
2   True  True  False  False