# `ZenTables` Demo

## Installation:

You can install this package with

```sh
pip install zentables
```

## How to Use `ZenTables` in Python

In [1]:
import pandas as pd
import zentables as zen

In [2]:
# Uncomment this line to use global options
# zen.set_options(font_family="Times New Roman, serif", font_size=12)

### Load some data

In [3]:
demo_data = pd.read_csv("../../tests/fixtures/superstore.csv")
demo_data

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2013-138688,6/13/2013,6/17/2013,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2011-110422,1/22/2011,1/24/2011,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2014-121258,2/27/2014,3/4/2014,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2014-121258,2/27/2014,3/4/2014,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2014-121258,2/27/2014,3/4/2014,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2014-119914,5/5/2014,5/10/2014,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [4]:
demo_data[["Segment", "Region"]].value_counts()

Segment      Region
Consumer     West       1672
             East       1469
             Central    1212
Corporate    West        960
             East        877
Consumer     South       838
Corporate    Central     673
Home Office  West        571
Corporate    South       510
Home Office  East        502
             Central     438
             South       272
dtype: int64

### The usual Python pivot table

In [5]:
df = demo_data.pivot_table(
    index=["Segment", "Region"],
    columns=["Category"],
    values="Order ID",
    aggfunc="count",
    margins=True,
)
df

Category             Furniture  Office Supplies  Technology   All
Segment     Region
Consumer    Central        255              739         218  1212
            East           303              888         278  1469
            South          180              505         153   838
            West           375              995         302  1672
Corporate   Central        137              417         119   673
            East           198              520         159   877
            South          101              324          85   510
            West           210              559         191   960
Home Office Central         89              266          83   438
            East           100              304          98   502
            South           51              166          55   272
            West           122              343         106   571
All                       2121             6026        1847  9994

### You __can__ make it look good in pandas __with a lot of code__

In [6]:
_table_styles = [
    dict(selector="thead", props=[("border-bottom", "1.5pt solid black")]),
    dict(
        selector="thead tr:last-child", props=[("display", "None")]
    ),  # Hides last row of header
    dict(
        selector=".col_heading",
        props=[("text-align", "center"), ("vertical-align", "middle")],
    ),
    dict(
        selector="tbody tr",
        props=[
            ("background-color", "white"),
        ],
    ),
    dict(selector="tbody tr td", props=[("text-align", "center")]),
    dict(
        selector=".row_heading",
        props=[
            ("text-align", "left"),
            ("font-weight", "bold"),
        ],
    ),
]

def make_borders(df):
    return [
                dict(selector=f"tbody tr:nth-child({i})", props=[
                    ("border-bottom", "1px solid black")
                ]) for i in df.index.get_level_values(0).value_counts().cumsum()
            ]
    
df.style\
    .set_table_styles(_table_styles + make_borders(df))\
    .set_table_attributes('style="border-top: 1.5pt solid black; border-bottom: 1.5pt solid black;"')

### The zen way: `df.zt.pretty()`

In [7]:
df.zen.pretty(font_size=12, font_family="Times New Roman")

### Creating frequency tables with percentages with `df.zen.freq_table()`

In [8]:
freq_table = demo_data.zen.freq_table(
    index=["Segment", "Region"],
    columns=["Category"],
    values="Order ID",
    props="columns",
    totals=True,
    subtotals=True,
    digits=1,
)
freq_table.zen.pretty()

The `suppress` argument also allows for cell suppression below a certain threshold value (or `ceiling`). For specifics on how the suppression is applied, please refer to the following resource provided by the Conneticut Education Department:

In [9]:
freq_table_suppressed = demo_data.zen.freq_table(
    index=["Segment", "Region"],
    columns=["Category"],
    values="Order ID",
    props="columns",
    totals=True,
    subtotals=True,
    digits=1,
    suppress=True,
    low = 100,
    high = 300
)
freq_table_suppressed.zen.pretty()

### Creating mean and standard deviation tables with `df.zen.mean_sd_table()`

In [15]:
demo_data[['Category', 'Sales']]

             Category     Sales
0           Furniture  261.9600
1           Furniture  731.9400
2     Office Supplies   14.6200
3           Furniture  957.5775
4     Office Supplies   22.3680
...               ...       ...
9989        Furniture   25.2480
9990        Furniture   91.9600
9991       Technology  258.5760
9992  Office Supplies   29.6000
9993  Office Supplies  243.1600

[9994 rows x 2 columns]

In [10]:
mean_sd_table = demo_data.zen.mean_sd_table(
    index=["Segment", "Region"],
    columns=["Category"],
    values="Sales",
    margins=True,
    margins_name="All",
    submargins=True,
    submargins_name="All Regions",
    digits=2
)
mean_sd_table.zen.pretty()

In [11]:
# Can also create suppressed tables
mean_sd_table = demo_data.zen.mean_sd_table(
    index=["Segment", "Region"],
    columns=["Category"],
    values="Sales",
    margins=True,
    margins_name="All",
    submargins=True,
    submargins_name="All Regions",
    digits=2,
    suppress=True,
    low=1,
    high=100
)
mean_sd_table.zen.pretty()

### Creating any pivot table with sub-tallies with `df.zen.pivot_table()`

In [12]:
mean_median_table = demo_data.zen.pivot_table(
    index=["Segment", "Region"],
    columns=["Category"],
    values="Sales",
    aggfunc=["count", "mean", "median"],
    margins=True,
    margins_name="All",
    submargins=True,
    submargins_name="All Regions",
).rename(
    columns={
        "count": "n",
        "mean": "Mean",
        "median": "Median",
    }
)
mean_median_table.zen.pretty().format(precision=1)

### Compare with the original Python `pivot_table()`

In [13]:
demo_data.pivot_table(
    index=["Segment", "Region"],
    columns=["Category"],
    values="Sales",
    aggfunc=["count", "mean", "median"],
    margins=True,
    margins_name="All",
).rename(
    columns={
        "count": "n",
        "mean": "Mean",
        "median": "Median",
    }
)

                            n                                         Mean  \
Category            Furniture Office Supplies Technology   All   Furniture
Segment     Region
Consumer    Central       255             739        218  1212  338.153800
            East          303             888        278  1469  376.936640
            South         180             505        153   838  393.334467
            West          375             995        302  1672  319.488232
Corporate   Central       137             417        119   673  380.186874
            East          198             520        159   877  324.288111
            South         101             324         85   510  293.515163
            West          210             559        191   960  395.619555
Home Office Central        89             266         83   438  286.318461
            East          100             304         98   502  298.703560
            South          51             166         55   272  330.459775
            West          122             343        106   571  407.578279
All                      2121            6026       1847  9994  349.834887

                                                               Median  \
Category            Office Supplies  Technology         All Furniture
Segment     Region
Consumer    Central      125.996589  333.443743  207.946728  193.0656
            East         114.026054  487.198665  238.875539  172.7640
            South        117.830853  426.641739  233.390180  222.6800
            West         110.634111  440.370020  217.033955  171.2880
Corporate   Central       98.651561  544.306807  234.763466  155.3720
            East         127.836029  438.525572  228.516929  184.9840
            South        141.759784  544.832129  238.992025  132.2240
            West         137.985431  343.671791  235.265911  230.2800
Home Office Central      123.222688  397.024892  208.248046  212.0580
            East         124.296658  610.277408  253.911805  147.0260
            South        121.786518  676.090745  272.996329  109.8000
            West          98.071292  503.384660  239.442692  156.0685
All                      119.324101  452.709276  229.858001  182.2200


Category            Office Supplies Technology     All
Segment     Region
Consumer    Central          23.832    150.177  46.060
            East             25.632    140.214  51.560
            South            27.860    146.450  58.195
            West             31.104    201.576  59.520
Corporate   Central          23.520    149.970  42.240
            East             32.040    179.940  59.900
            South            31.047    178.384  49.640
            West             30.144    159.980  69.468
Home Office Central          26.540    258.696  50.935
            East             28.850    155.450  52.715
            South            29.920    187.980  55.785
            West             29.600    203.580  52.760
All                          27.418    166.160  54.490