In [1]:
import numpy as np
import pandas as pd

import zentables as zen

In [2]:
# Test case 1: Does this deal with negative numbers?
A = [[1, 4, 5], 
    [-5, 8, 9]]
zen._do_suppression(pd.DataFrame(A), low = 1, high = 5)

      0     1      2
0  True  True  False
1  True  True  False

In [3]:
# Test case 2: What happens when the boundary condition is met?
zen._do_suppression(pd.DataFrame(A), low = 1, high = 6)

      0     1     2
0  True  True  True
1  True  True  True

In [4]:
# Test case 3:
B = [[1, 4, 5, 12], 
    [-5, 8, 9, 0],
    [-6, 7, 11, 19]]

zen._do_suppression(pd.DataFrame(B), low=1, high=10)

      0     1      2      3
0  True  True   True  False
1  True  True   True  False
2  True  True  False  False

In [5]:
# Test case 4:
A = [[1, 2, 3], [100, 200]]
temp = pd.DataFrame(A)
zen._do_suppression(temp)

ValueError: DataFrame contains NaN values that cannot be suppressed

In [ ]:
A = [[3,3,3], [20,20, 3], [30,30,3]]
zen._do_suppression(pd.DataFrame(A), low = 1, high = 5)

In [ ]:
A = [[3,3,3,3,3,3], [30,30,30,30,30,30], [30,30,30,30,30,30], [30,30,30,30,30,30]]
zen._do_suppression(pd.DataFrame(A), low = 1, high = 5
                   )

In [ ]:
zen._do_suppression(pd.DataFrame(A), low = 1, high = 5, seed = 100)

In [ ]:
zen._do_suppression(pd.DataFrame(A), low = 1, high = 5, seed = 200)

In [ ]:
first_seed, second_seed = np.random.randint(1e3, size=2)
second_seed

In [ ]:
np.random.randint(1e3)